{% extends "base.html" %}
{% block content %}
  <div class="mt-12 ">
    <div class="w-4/5 m-5 mx-auto bg-white p-8 rounded shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Task Details</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="mb-4">
                <label for="{{ t_form.title.id_for_label }}">Title</label>
                {{ t_form.title }}
            </div>
        
            <div class="mb-4">
                <label for="{{ t_form.description.id_for_label }}">Description</label>
                {{ t_form.description }}
            </div>
        
            <div class="mb-4">
                <label for="{{ t_form.due_date.id_for_label }}">Due Date and Time</label>
                <input type="datetime-local" name="{{ t_form.due_date.name }}" value="{{ t_form.due_date.value|date:'Y-m-d' }}T{{ t_form.due_date.value|time:'H:i' }}" class="w-full px-3 py-2 border rounded-md">
            </div>
            
        
            <div class="mb-4">
                <label for="{{ t_form.priority.id_for_label }}">Priority</label>
                {{ t_form.priority }}
            </div>
        
           
        
            <!-- <div class="mb-4">
                <label for="{{ t_form.is_complete.id_for_label }}">Mark as Complete</label><br>
                {{ t_form.is_complete }}
            </div> -->
        
            <!-- Render multiplePhoto Form Fields Manually -->
            <div class="mb-4">
                <label for="{{ img_form.photo.id_for_label }}">Photo</label>
                <input  type="file" multiple name="{{ img_form.photo.name }}" class="file-input file-input-bordered file-input-primary w-full max-w-xs">
            </div>

            <!-- <div class="mb-4">
                <label for="title" class="block text-gray-600 text-sm font-medium mb-2">Title</label>
                <input type="text" id="title" name="title" class="w-full px-3 py-2 border rounded-md">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-gray-600 text-sm font-medium mb-2">Description</label>
                <textarea id="description" name="description" class="w-full px-3 py-2 border rounded-md"></textarea>
            </div>
            <div class="mb-4">
                <label for="due_date" class="block text-gray-600 text-sm font-medium mb-2">Due Date</label>
                <input type="date" id="due_date" name="due_date" class="w-full px-3 py-2 border rounded-md">
            </div>
            <div class="mb-4">
                <label for="priority" class="block text-gray-600 text-sm font-medium mb-2">Priority</label>
                <select id="priority" name="priority" class="w-full px-3 py-2 border rounded-md">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="photo" class="block text-gray-600 text-sm font-medium mb-2">Photo</label>
                <input type="file" multiple id="photo" name="photo" class="file-input file-input-bordered file-input-primary w-full max-w-xs">
            </div>
            <div class="mb-4">
                <label for="is_complete" class="block text-gray-600 text-sm font-medium mb-2">Mark as Complete</label>
                <input type="checkbox" id="is_complete" name="is_complete">
            </div>
             -->
            <div class="mb-4">
                <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600">Submit</button>
            </div>
        </form>
    </div>
    
</div>
 {% endblock  %} 