{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <title>
            {% block head_title %}Task Manager{% endblock %}
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

      
        <style>
            footer {
                position: fixed !important;
                bottom: 0 !important;
                width: 100%;
            }
        </style>
    </head>
    <body class="bg-gradient-to-r from-gray-700 to-indigo-500 font-sans leading-normal tracking-normal">
        {% include "navbar.html" %}
        {% if request.user.is_authenticated %}
        {% include "task.html" %}

        {% endif%}
                {% block content %}

              

        {% endblock %}


        <script>
            const profileToggle = document.getElementById('profileToggle');
            const profileDropdown = document.getElementById('profileDropdown');
    
            profileToggle.addEventListener('click', () => {
                profileDropdown.classList.toggle('hidden');
            });
        </script>

    </body>

</html>